.places__paragraph {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
}

@media  screen and (max-width: 768px) {
    .places__paragraph {
        font-size: 16px;
        line-height: 163%;
    }
}

@media  screen and (max-width: 600px) {
    .places__paragraph {
        max-width: calc(288px + (720 - 288) * ((100vw - 320px) / (768 - 320)));
        margin: 0 auto;
    }
}
