.places__paragraph {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 163%;
    color: #FFFFFF;
    grid-area: parag2;
}

.first {
    grid-area: parag1;
}

.second {
    grid-area: parag2;
}