.places {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 984px;
    margin: 0 auto;
    padding-top: 92px;
    display: block;
}

@media  screen and (max-width: 1024px) {
    .places {
        max-width:calc(288px + (928 - 288) * ((100vw - 320px) / (1024 - 320)));
        padding-top: calc(76px + (92 - 76) * ((100vw - 320px) / (1024 - 320)));
    }
}

@media  screen and (max-width: 768px) {
    .places {
        max-width: calc(288px + (720 - 288) * ((100vw - 320px) / (768 - 320)));
        padding-top: calc(64px + (88 - 64) * ((100vw - 320px) / (768 - 320)));
    }
}

@media  screen and (max-width: 600px) {
    .places {
        max-width: 100%;
    }
}