.baikal {
    box-sizing: border-box;
    max-width: 1184px;
    height: calc(200px + (740 - 200) * ((100vw - 320px) / (1280 - 320)));
    margin: 0 auto;
    background-image:
        linear-gradient(to top, rgba(42,44,47,.3), rgba(42,44,47,.3)),
        url("./images/dobaykala1184.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.7s linear;
    max-height: 740px;
}

.baikal:hover {
    background-image:
            linear-gradient(to top, rgba(42,44,47,.8), rgba(42,44,47,.8)),
            url("./images/dobaykala1184.jpg") ;
}

@media  screen and (max-width: 1024px) {
    .baikal {
        height: calc(200px + (640 - 200) * ((100vw - 320px) / (1024 - 320)));
    }
}

@media  screen and (max-width: 768px) {
    .baikal {
        height: calc(200px + (480 - 200) * ((100vw - 320px) / (768 - 320)));
    }
}
