.baikal {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1184px;
    height: calc(200px + (740 - 200) * ((100vw - 320px) / (1280 - 320)));
    margin: 0 auto;
    background-image:
            -webkit-gradient(linear, left bottom, left top, from(rgba(42,44,47,.3)), to(rgba(42,44,47,.3))),
            url("./images/dobaykala1184.jpg");
    background-image:
            -o-linear-gradient(bottom, rgba(42,44,47,.3), rgba(42,44,47,.3)),
            url("./images/dobaykala1184.jpg");
    background-image:
            linear-gradient(to top, rgba(42,44,47,.3), rgba(42,44,47,.3)),
            url("./images/dobaykala1184.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: opacity 0.7s linear;
    -o-transition: opacity 0.7s linear;
    transition: opacity 0.7s linear;
    max-height: 740px;
}

.baikal:hover {
    background-image:
            -webkit-gradient(linear, left bottom, left top, from(rgba(42,44,47,.8)), to(rgba(42,44,47,.8))),
            url("./images/dobaykala1184.jpg");
    background-image:
            -o-linear-gradient(bottom, rgba(42,44,47,.8), rgba(42,44,47,.8)),
            url("./images/dobaykala1184.jpg");
    background-image:
            linear-gradient(to top, rgba(42,44,47,.8), rgba(42,44,47,.8)),
            url("./images/dobaykala1184.jpg");
}

@media  screen and (max-width: 1024px) {
    .baikal {
        height: calc(200px + (640 - 200) * ((100vw - 320px) / (1024 - 320)));
    }
}

@media  screen and (max-width: 768px) {
    .baikal {
        height: calc(200px + (480 - 200) * ((100vw - 320px) / (768 - 320)));
    }
}