.places__image {
    max-width: 460px;
    height: auto;
    background-color: #fff;
}

.places__conteiner-image {
    grid-area: image;
}

@media  screen and (max-width: 1024px) {
    .places__image {
        width: calc(340px + (440 - 340) * ((100vw - 320px) / (1024 - 320)));
    }
}

@media  screen and (max-width: 768px) {
    .places__image {
        width: calc(320px + (340 - 320) * ((100vw - 320px) / (768 - 320)));
    }
}

@media  screen and (max-width: 600px) {
    .places__conteiner-image {
        -ms-grid-column-align: center;
        justify-self: center;
    }
}