.places__title {
    margin: 0 0 48px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    color: #FFFFFF;
    grid-area: name;
    -ms-grid-row-align:center;
    align-self:center;
    white-space: pre-line;
}
@media  screen and (max-width: 1024px) {
    .places__title {
        font-size: calc(42px + (72 - 42) * ((100vw - 320px) / (1024 - 320)));
        line-height: 1.1;
    }
}

@media  screen and (max-width: 768px) {
    .places__title {
        font-size: calc(32px + (42 - 32) * ((100vw - 320px) / (768 - 320)));
        line-height: 1.09;
    }
}

@media  screen and (max-width: 600px) {
    .places__title {
        width: calc(288px + (720 - 288) * ((100vw - 320px) / (768 - 320)));
        margin: 0 auto;
    }
}