.lead {
    width: 98.4rem;
    height: 100.5rem;
    margin: 0 auto;
    box-sizing: border-box;
}

@media  screen and (max-width: 1024px) {
    .lead {
        width: 92.8rem;
        height: auto;
        margin: 0 auto;
    }
}