.lead__title {
    margin: 0 auto 3.2rem auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
    color: white;
    max-width: 720px;
    box-sizing: border-box;
}


@media  screen and (max-width: 768px) {
    .lead__title {
        font-size: calc(40px + (96 - 40) * ((100vw - 320px) / (768 - 320)));;
    }
}

@media  screen and (max-width: 320px) {
    .lead__title {
        line-height: 1.1;
    }
}