.header__language-selector {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0 0 6px 0;
    gap: 18px;
}

@media screen and (max-width: 320px) {
    .header__language-selector {
        padding: 0 0 8px 0;
    }
}