.places__card {
    display: grid;
    grid-template-areas:
    "name ."
    "name link"
    "image text "
    "image text ";
    grid-template-rows: min-content  min-content  min-content min-content;
}