.intro {
    box-sizing: border-box;
    padding: 92px 0 0 0;
    max-width: 984px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


@media  screen and (max-width: 1024px) {
    .intro {
        max-width:calc(288px + (928 - 288) * ((100vw - 320px) / (1024 - 320)));
    }
}

@media  screen and (max-width: 768px) {
    .intro {
        max-width: calc(288px + (720 - 288) * ((100vw - 320px) / (768 - 320)));
        padding: calc(56px + (88 - 56) * ((100vw - 320px) / (768 - 320))) 0 0 0;
    }
}

@media  screen and (max-width: 320px) {
    .intro {
        max-width: 288px;
    }
}