html {
    font-size: calc(10 * 100vw / 1280);
    background-color: #2A2C2F;
}

.places__website {
    grid-area: link;
}

@media  screen and (max-width: 600px) {
    .places__website {
        width: calc(288px + (720 - 288) * ((100vw - 320px) / (768 - 320)));
        margin: 0 auto;
    }
}

@media  screen and (max-width: 1024px) {
    html {
        font-size: calc(10 * 100vw / 1024);
    }
}

@media  screen and (max-width: 768px) {
    html {
        font-size: calc(10 * 100vw / 768);
    }
}

@media  screen and (max-width: 320px) {
    html {
        font-size: calc(10 * 100vw / 320);
    }
}