.baikal__paragraph {
    max-width: 360px;
    height: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto 0 auto;
}


@media  screen and (max-width: 600px) {
    .baikal__paragraph {
        font-size: 14px;
        line-height: 1.14;
    }
}
