.baikal__title {
    margin: 24.5rem auto 3.2rem auto;
    width: 56rem;
    height: 15.2rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 7.2rem;
    line-height: 1.06;
    text-align: center;
    color: #FFFFFF;
    opacity: 1;
}